@charset "UTF-8";
@font-face {
  font-family: "Ostia Antica";
  src: url("../fonts/ostia-antica-light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Romie Regular";
  src: url("../fonts/romie-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Romie Italic";
  src: url("../fonts/romie-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
:root {
  font-family: "Romie Regular", serif;
  font-size: 1em;
  line-height: 1.5;
  color: black;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote :first-child::before, q::before {
  content: "« ";
}

blockquote :last-child::after, q::after {
  content: " »";
}

p {
  margin: 1rem 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
button:active {
  color: black;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

em {
  font-weight: normal;
  font-style: italic;
}

sup {
  vertical-align: super;
  font-size: 0.5rem;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

html {
  min-height: -webkit-fill-available;
}

body {
  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
}

body {
  position: relative;
}
@media (min-width: 1024px) {
  body {
    padding-bottom: 10px;
  }
}
body main a {
  position: relative;
  color: black;
  box-decoration-break: clone;
}
body main a::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #C0C0C0;
  height: 1px;
}
body main a:hover::before, body main a:focus::before, body main a:active::before {
  animation-name: underline;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes underline {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}
header#menu {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 5px;
  background-color: white;
  border-bottom: 1px solid #C0C0C0;
}
header#menu.expanded {
  position: fixed;
}
@media (min-width: 1024px) {
  header#menu {
    padding: 10px;
    background-color: none;
  }
}
header#menu nav > ul {
  display: flex;
  align-items: flex-start;
}
header#menu nav > ul {
  justify-content: space-between;
  flex-wrap: wrap;
}
header#menu nav > ul a {
  font-size: 1rem;
}
header#menu nav > ul a.page {
  font-size: 2rem;
}
@media (min-width: 1024px) {
  header#menu nav > ul a {
    font-size: 1rem;
  }
  header#menu nav > ul a.page {
    font-size: 0.9rem;
  }
}
@media (min-width: 1024px) {
  header#menu nav > ul li.mobile, header#menu nav > ul .breaker {
    display: none;
  }
}
header#menu nav > ul > li:first-of-type {
  padding: 0 calc(1rem + 10px) 0 0;
  white-space: nowrap;
}
header#menu nav > ul > li:first-of-type a {
  font-size: 0.9rem;
}
header#menu nav > ul > li:first-of-type span:not(.alternate) {
  display: inline-block;
}
header#menu nav > ul > li:first-of-type span:not(.alternate):last-of-type {
  font-family: "Romie Italic";
  font-style: italic;
}
@media (min-width: 1024px) {
  header#menu nav > ul > li:first-of-type {
    width: 50%;
  }
}
header#menu nav > ul li#list-menu {
  position: fixed;
  top: 45px;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 1rem 0 1.25rem 0;
  background-color: white;
}
@media (min-width: 1024px) {
  header#menu nav > ul li#list-menu {
    position: unset;
    top: unset;
    left: unset;
    width: 50%;
    height: unset;
    margin: unset;
    padding: 1px 0;
    justify-content: flex-end;
    border-bottom: unset;
  }
  header#menu nav > ul li#list-menu.hide {
    display: flex;
  }
}
header#menu nav > ul li#list-menu > ul a:hover, header#menu nav > ul li#list-menu > ul a:active, header#menu nav > ul li#list-menu > ul a:focus {
  font-family: "Romie Italic";
  font-style: italic;
}
header#menu nav > ul li#list-menu > ul a:hover .tooltip, header#menu nav > ul li#list-menu > ul a:active .tooltip, header#menu nav > ul li#list-menu > ul a:focus .tooltip {
  font-weight: normal;
}
header#menu nav > ul li#list-menu > #pages {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: calc(2rem + 5px);
}
@media (min-width: 1024px) {
  header#menu nav > ul li#list-menu > #pages {
    flex-direction: row;
    justify-content: space-between;
    margin-left: unset;
  }
}
header#menu nav > ul li#list-menu > #pages > li:first-of-type {
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  header#menu nav > ul li#list-menu > #pages > li:first-of-type {
    margin-bottom: unset;
  }
}
header#menu nav > ul li#list-menu > #pages div > li:first-of-type {
  margin-bottom: 15px;
}
@media (min-width: 1024px) {
  header#menu nav > ul li#list-menu > #pages div > li:first-of-type {
    margin-bottom: unset;
  }
}
@media (min-width: 1024px) {
  header#menu nav > ul li#list-menu > #pages div:not(.breaker) {
    display: flex;
  }
}
header#menu nav > ul li#list-menu > #pages div:not(.breaker) li:last-of-type {
  margin-bottom: 5px;
}
@media (min-width: 1024px) {
  header#menu nav > ul li#list-menu > #pages div:not(.breaker) li:last-of-type {
    margin: 0 0 0 10px;
  }
}
header#menu nav > ul li#list-menu > #pages div:not(.breaker) li:last-of-type a {
  border-radius: 50%;
  border: 1px solid #A9A9A9;
}
@media (min-width: 1024px) {
  header#menu nav > ul li#list-menu > #pages div:not(.breaker) li:last-of-type a {
    font-size: 0.8rem;
    vertical-align: text-bottom;
  }
}
header#menu nav > ul li#list-menu > #pages div:not(.breaker) li:last-of-type a.en {
  padding: 3px 4px;
}
header#menu nav > ul li#list-menu > #pages div:not(.breaker) li:last-of-type a.en:hover, header#menu nav > ul li#list-menu > #pages div:not(.breaker) li:last-of-type a.en:active, header#menu nav > ul li#list-menu > #pages div:not(.breaker) li:last-of-type a.en:focus {
  padding: 5px 4px;
}
header#menu nav > ul li#list-menu > #pages div:not(.breaker) li:last-of-type a.fr {
  padding: 3px 6px;
}
header#menu nav > ul li#list-menu > #pages div:not(.breaker) li:last-of-type a.fr:hover, header#menu nav > ul li#list-menu > #pages div:not(.breaker) li:last-of-type a.fr:active, header#menu nav > ul li#list-menu > #pages div:not(.breaker) li:last-of-type a.fr:focus {
  padding: 5px;
}
header#menu nav > ul li#list-menu .breaker {
  margin-top: 1.75rem;
  border-bottom: 1px solid #C0C0C0;
  width: 2rem;
}
header#menu nav > ul li#list-menu .breaker:not(:last-of-type) {
  margin-bottom: 0.75rem;
}

button#mobile {
  position: fixed;
  z-index: 1000;
  top: 10px;
  right: 0;
  margin-right: 5px;
  display: block;
}
@media (min-width: 1024px) {
  button#mobile {
    display: none;
  }
}
button#mobile img {
  height: 0.75rem;
}

li#list-menu.mobile {
  position: absolute;
  z-index: 999;
  top: calc(3em + 10px);
  left: 0;
  width: 100%;
  display: block;
  overflow-x: hidden;
}
@media (min-width: 1024px) {
  li#list-menu.mobile {
    display: none;
  }
}
li#list-menu.mobile > #menu-container {
  margin: 10px;
}
li#list-menu.mobile > #menu-container > ul a:not(.lang) {
  font-size: 12vw;
}
li#list-menu.mobile > #menu-container > #lang li:not(:last-of-type) {
  display: inline-block;
}
li#list-menu.mobile > #menu-container > #lang li:not(:last-of-type) a {
  font-family: "Romie Regular";
  font-size: 8.5vw;
}
li#list-menu.mobile > #menu-container > #lang li:first-of-type {
  margin-right: 1rem;
}

main {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 10px 0 10px;
  position: relative;
}
@media (min-width: 1024px) {
  main {
    position: static;
    margin-bottom: 20px;
  }
}

div.error {
  position: absolute;
  width: 100%;
  height: calc(100vh - 69px);
  top: 0;
  left: 0;
  padding: 10px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 1024px) {
  div.error {
    height: 100%;
  }
}

body.home {
  background-image: none;
  padding-bottom: 0;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
body.home header#menu nav > ul li#list-menu > #pages > li:first-of-type {
  margin-bottom: 5px;
}
@media (min-width: 1024px) {
  body.home header#menu nav > ul li#list-menu > #pages > li:first-of-type {
    margin-bottom: unset;
  }
}
body.home main {
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  body.home main {
    position: unset;
  }
}
body.home #img-container {
  display: flex;
  height: 100%;
  font-size: 0;
  z-index: 1;
}
body.home #img-container a {
  height: 100%;
  display: inline-block;
  border-radius: 0;
  box-shadow: none;
  background: none;
  background-color: black;
}
body.home #img-container a:not(:last-of-type) {
  border-right: 1px solid black;
}
body.home #img-container img, body.home #img-container video {
  height: 100%;
}

body.work {
  padding-bottom: 0;
  position: static;
}
body.work header#menu nav > ul li#list-menu > #pages > li:first-of-type {
  margin-bottom: 0;
}
body.work button#mobile {
  position: absolute;
}
body.work main {
  padding: 0 2.5px;
  margin-bottom: unset;
}
@media (min-width: 1024px) {
  body.work main {
    padding: 0 5px;
    height: 100%;
  }
}
body.work main #container ul {
  display: grid;
  grid-template-columns: 100%;
  font-family: "Romie Regular";
  /* if img/video = object-fit: cover */
}
body.work main #container ul li:not(:last-of-type) {
  margin: 0 2.5px 5px 2.5px;
}
body.work main #container ul li:last-of-type {
  margin: 0 2.5px;
}
@media (orientation: landscape), (min-width: 667px) and (max-width: 1023px) and (min-height: 667px) {
  body.work main #container ul {
    grid-template-columns: 50% 50%;
  }
}
@media (min-width: 667px) and (max-width: 1023px) {
  body.work main #container ul li:not(:last-of-type):not(:nth-last-child(2)) {
    margin: 0 2.5px 5px 2.5px;
  }
  body.work main #container ul li:nth-last-child(2), body.work main #container ul li:last-of-type {
    margin: 0 2.5px;
  }
}
@media (min-width: 1024px) {
  body.work main #container ul li:not(:last-of-type):not(:nth-last-child(2)) {
    margin: 0 5px 10px 5px;
  }
  body.work main #container ul li:nth-last-child(2), body.work main #container ul li:last-of-type {
    margin: 0 5px;
  }
}
body.work main #container ul h2 {
  height: 100%;
}
body.work main #container ul a, body.work main #container ul .video-container {
  display: flex;
  /* if img/video = object-fit: cover */
  height: 100%;
}
body.work main #container ul a {
  border-radius: unset;
}
body.work main #container ul a::before {
  content: unset;
}
body.work main #container ul a:hover::before, body.work main #container ul a:active::before, body.work main #container ul a:focus::before {
  content: unset;
}
body.work main #container ul a:hover img.absolute, body.work main #container ul a:active img.absolute, body.work main #container ul a:focus img.absolute {
  opacity: 0;
}
body.work main #container ul img, body.work main #container ul video {
  width: 100%;
  height: 100%;
}
body.work main #container ul img, body.work main #container ul video {
  object-fit: cover;
  object-position: center;
}
body.work main #container ul img.absolute {
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}
body.work main #container ul video {
  cursor: pointer;
  background-color: black;
}

.project {
  padding-bottom: unset;
}
.project header#menu {
  position: relative;
}
@media (max-width: 1023px) {
  .project header#menu {
    padding: 5px;
    padding: 10px 5px;
  }
  .project header#menu nav {
    display: flex;
  }
  .project header#menu button#mobile {
    position: relative;
    left: calc(100% - 23px);
    top: 0;
  }
  .project header#menu ul {
    margin-left: -28px;
  }
  .project header#menu nav > ul li#list-menu > #pages > li:first-of-type {
    margin-bottom: 0;
  }
}
.project main {
  padding: unset;
  margin: unset;
}
.project #container {
  padding: 0 2.5px;
}
@media (min-width: 1024px) {
  .project #container {
    padding: 0 5px;
  }
}
.project h2 {
  font-family: "Romie Italic";
  font-style: italic;
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
}
.project #title {
  padding-right: 2.5px;
}
@media (min-width: 1024px) {
  .project #title {
    padding: 0 5px;
  }
}
.project #title, .project #text {
  margin-left: 5px;
}
@media (min-width: 1024px) {
  .project #title, .project #text {
    margin-left: 10px;
  }
}
@media (min-width: 1024px) {
  .project h2 {
    margin: 2rem 0 1rem 0;
  }
  .project #title, .project #text {
    margin-left: calc(2rem + 10px / 2);
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .project #title, .project #text {
    margin-left: calc(2rem + 10px / 2);
  }
}
@media (min-width: 1024px) {
  .project #text {
    width: 50%;
    padding-right: calc(2rem + 10px);
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .project #text {
    padding-right: calc(2rem + 10px);
  }
}
@media (max-width: 1023px) {
  .project #preview .medias div:nth-of-type(2) {
    display: none;
  }
}
.project #credits {
  font-family: "Ostia Antica";
  font-size: 0.7rem;
}
.project #credits a::before {
  bottom: 0.4em;
}
.project #content .medias {
  margin-top: 1rem;
}
.project #content .medias div:not(:last-of-type) {
  margin: 0 2.5px 5px 2.5px;
}
@media (min-width: 1024px) {
  .project #content .medias div:not(:last-of-type) {
    margin: 0 5px 10px 5px;
  }
}
.project #content .medias div:last-of-type {
  margin: 0 2.5px;
}
@media (min-width: 1024px) {
  .project #content .medias div:last-of-type {
    margin: 0 5px;
  }
}
@media (min-width: 1024px) {
  .project #content .medias {
    margin-top: 2rem;
  }
  .project #content .medias div:not(:last-of-type):not(:nth-last-child(2)) {
    margin: 0 5px 10px 5px;
  }
  .project #content .medias div:last-of-type, .project #content .medias div:nth-last-child(2):not(.custom) {
    margin: 0 5px -3px 5px;
  }
  .project #content .medias div:nth-last-child(2).custom {
    margin: 0 5px 10px 5px;
  }
}
.project #preview .medias div {
  margin: 0 2.5px;
}
@media (min-width: 1024px) {
  .project #preview .medias div {
    margin: 0 5px;
  }
}
.project .medias > div.custom {
  grid-column: 1/3;
  margin: 0 5px 0 0;
}
@media (min-width: 1024px) {
  .project .medias > div.custom {
    margin: 0 5px 0 0;
  }
}
@media (min-width: 1024px) {
  .project .medias {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: unset;
  }
}
.project img, .project video {
  width: 100%;
  display: block;
}
.project video {
  cursor: pointer;
  background-color: black;
}
.project footer {
  position: sticky;
  background-color: white;
  padding: 10px 5px;
  height: 45px;
  border-top: 1px solid #C0C0C0;
}
@media (min-width: 1024px) {
  .project footer {
    bottom: 0;
  }
}
@media (max-width: 1023px) {
  .project footer:not(.video-page) {
    bottom: 0;
  }
  .project footer.video-page {
    top: 100%;
  }
}
@media (min-width: 1024px) {
  .project footer {
    height: 47px;
    padding: 10px;
  }
}
.project footer nav {
  display: flex;
  width: 100%;
  height: 100%;
}
.project footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.project footer ul li:first-of-type a {
  width: 52px;
}
.project footer ul li:nth-of-type(2) {
  order: 3;
}
.project footer ul li:nth-of-type(2) a {
  width: 32px;
}
.project footer ul li:last-of-type {
  order: 2;
}
.project footer ul li:last-of-type a {
  width: 48px;
}
.project footer ul a {
  display: block;
  font-size: 0.9rem;
}
.project footer ul a::before {
  content: unset;
}
.project footer ul a:hover, .project footer ul a:active, .project footer ul a:focus {
  font-family: "Romie Italic";
  font-style: italic;
}
@media (min-width: 1024px) and (min-height: 667px) {
  .project #preview .medias {
    height: 87vh;
  }
  .project #preview .medias div {
    display: flex;
  }
  .project #preview .medias div img {
    object-fit: cover;
    object-position: center;
  }
}
@media (min-width: 1024px) and (min-height: 667px) and (max-height: 1450px) {
  .project #preview .medias {
    height: 86vh;
  }
}
@media (min-width: 1024px) and (min-height: 667px) and (max-height: 1325px) {
  .project #preview .medias {
    height: 85vh;
  }
}
@media (min-width: 1024px) and (min-height: 667px) and (max-height: 1250px) {
  .project #preview .medias {
    height: 84vh;
  }
}
@media (min-width: 1024px) and (min-height: 667px) and (max-height: 1150px) {
  .project #preview .medias {
    height: 83vh;
  }
}
@media (min-width: 1024px) and (min-height: 667px) and (max-height: 1100px) {
  .project #preview .medias {
    height: 82vh;
  }
}
@media (min-width: 1024px) and (min-height: 667px) and (max-height: 999px) {
  .project #preview .medias {
    height: 80vh;
  }
}
@media (min-width: 1024px) and (min-height: 667px) and (max-height: 949px) {
  .project #preview .medias {
    height: 79vh;
  }
}
@media (min-width: 1024px) and (min-height: 667px) and (max-height: 899px) {
  .project #preview .medias {
    height: 78vh;
  }
}
@media (min-width: 1024px) and (min-height: 667px) and (max-height: 849px) {
  .project #preview .medias {
    height: 77vh;
  }
}
@media (min-width: 1024px) and (min-height: 667px) and (max-height: 799px) {
  .project #preview .medias {
    height: 76vh;
  }
}
@media (min-width: 1024px) and (min-height: 667px) and (max-height: 774px) {
  .project #preview .medias {
    height: 74vh;
  }
}
@media (min-width: 1024px) and (min-height: 667px) and (max-height: 724px) {
  .project #preview .medias {
    height: 73vh;
  }
}
@media (min-width: 1024px) and (min-height: 667px) and (max-height: 699px) {
  .project #preview .medias {
    height: 72vh;
  }
}

body.about {
  padding-bottom: unset;
  margin-bottom: 2.5px;
}
@media (min-width: 1024px) {
  body.about {
    margin-bottom: 5px;
  }
}
body.about .full-content {
  margin-bottom: 2.5px;
}
@media (min-width: 1024px) {
  body.about .full-content {
    margin-bottom: 5px;
  }
}
@media (min-width: 1024px) and (min-height: 800px) {
  body.about:not(.full-content) {
    margin-bottom: unset;
  }
}
@media (min-width: 1024px) {
  body.about .flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  body.about .flex:last-of-type div {
    display: block;
  }
}
body.about header#menu nav > ul li#list-menu > #pages div > li:first-of-type {
  margin-bottom: 2.5px;
}
@media (min-width: 1024px) {
  body.about header#menu nav > ul li#list-menu > #pages div > li:first-of-type {
    margin-bottom: unset;
  }
}
body.about main {
  padding: 0 5px;
  margin-bottom: unset;
}
@media (min-width: 1024px) {
  body.about main {
    padding: 0 10px;
  }
}
body.about #images-container div img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}
body.about #images-container div:last-of-type {
  display: none;
}
@media (min-width: 767px) {
  body.about #images-container {
    display: -webkit-flex;
    display: flex;
  }
  body.about #images-container div {
    flex-grow: 1;
  }
  body.about #images-container div:first-of-type {
    margin-right: 2.5px;
  }
  body.about #images-container div:last-of-type {
    display: block;
    margin-left: 2.5px;
  }
}
@media (min-width: 1024px) {
  body.about #images-container div:first-of-type {
    margin-right: 5px;
  }
  body.about #images-container div:last-of-type {
    margin-left: 5px;
  }
}
body.about #content {
  padding-top: 1rem;
}
body.about #content > div:nth-of-type(2) h2 {
  margin-top: 1rem;
}
body.about #content > div:not(:first-of-type):not(:nth-of-type(2)) h2 {
  margin-top: 5px;
}
body.about #content h2 {
  font-size: 1.5rem;
}
body.about #content h2 span.text-content {
  display: none;
}
body.about #content h2 button.mobile {
  color: black !important;
}
body.about #content h2 button.mobile:hover, body.about #content h2 button.mobile:active, body.about #content h2 button.mobile:focus {
  font-family: "Romie Italic";
  font-style: italic;
  color: black !important;
}
@media (min-width: 1024px) {
  body.about #content h2 {
    font-family: "Romie Italic";
    font-style: italic;
    margin-top: unset !important;
  }
  body.about #content h2 button.mobile {
    display: none;
  }
  body.about #content h2 span.text-content {
    display: inline-block;
  }
}
body.about #content time {
  display: inline;
}
@media (min-width: 1024px) {
  body.about #content #contact-content, body.about #content #teaching-content, body.about #content #services-content, body.about #content div:not(#marquee):nth-of-type(6) div {
    width: 50%;
  }
}
body.about #content ul.flex {
  justify-content: flex-start;
}
body.about #content > div:first-of-type p {
  margin: 0;
}
body.about #content div:not(:first-of-type) p {
  margin: 0;
}
body.about #content div.flex:nth-of-type(2) ul {
  flex-direction: column;
  flex-wrap: wrap;
}
body.about #content div.flex:nth-of-type(2) ul:not(.hide) {
  display: flex;
}
body.about #content div.flex:nth-of-type(2) ul li:nth-of-type(1) {
  order: 2;
}
body.about #content div.flex:nth-of-type(2) ul li:nth-of-type(2) {
  order: 3;
}
body.about #content div.flex:nth-of-type(2) ul li:nth-of-type(3) {
  order: 1;
}
@media (min-width: 1024px) {
  body.about #content div.flex:nth-of-type(2) ul {
    flex-direction: row;
  }
  body.about #content div.flex:nth-of-type(2) ul .desktop:nth-of-type(1) {
    order: 1;
  }
  body.about #content div.flex:nth-of-type(2) ul .desktop:nth-of-type(2) {
    order: 2;
  }
  body.about #content div.flex:nth-of-type(2) ul li:nth-of-type(1) {
    order: 1;
  }
  body.about #content div.flex:nth-of-type(2) ul li:nth-of-type(2) {
    order: 2;
  }
  body.about #content div.flex:nth-of-type(2) ul li:nth-of-type(3) {
    order: 3;
  }
}
body.about #content div:nth-of-type(3) li:not(:last-of-type) {
  margin: 0 0 5px 0;
}
body.about #content div:nth-of-type(4) ul, body.about #content div#marquee.mobile ul, body.about #content div#marquee.desktop ul {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1024px) {
  body.about #content div#marquee.desktop li {
    font-size: 1.25rem;
  }
}
body.about #content #teaching ul {
  flex-direction: column;
}
body.about #content #teaching p {
  display: inline;
}
body.about #content #teaching #last-item, body.about #content #teaching button#plus {
  display: inline;
}
body.about #content #teaching button#plus {
  display: none;
  margin-left: 2px;
  border: 1px solid #A9A9A9;
  border-radius: 50%;
  font-weight: bold;
  line-height: 1;
  vertical-align: top;
  font-family: "Romie Italic";
  font-style: italic;
}
body.about #content #teaching button#plus[aria-expanded=true] {
  padding: 2px 7px;
}
body.about #content #teaching button#plus[aria-expanded=false] {
  padding: 2px 5px;
}
@media (min-width: 1024px) {
  body.about #content #teaching button#plus {
    display: inline;
  }
}
body.about #content #teaching #hidden-list {
  margin-top: 5px;
}
@media (max-width: 1023px) {
  body.about #content #teaching #hidden-list.hide {
    display: unset;
  }
}
@media (max-width: 1023px) {
  body.about #content #marquee.mobile {
    margin: 10px 0;
    padding: 10px;
  }
  body.about #content #marquee.mobile.stroke {
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
  }
  body.about #content #marquee.desktop {
    display: none;
  }
}
@media (min-width: 1024px) {
  body.about #content #marquee.mobile {
    display: none;
  }
  body.about #content .stroke {
    border-bottom: 1px solid #C0C0C0;
  }
  body.about #content .stroke:not(:first-of-type) {
    padding: 5px 0;
  }
  body.about #content .stroke:first-of-type {
    padding: 0 0 10px 0;
  }
  body.about #content .stroke:nth-last-child(2) {
    margin-bottom: 5px;
  }
}
body.about #content .center {
  align-items: center;
}
body.about #content div#marquee.mobile, body.about #content div#marquee.desktop {
  overflow: hidden;
}
body.about #content div#marquee.mobile div, body.about #content div#marquee.desktop div {
  width: 1800%;
  display: inline-flex;
}
body.about #content div#marquee.mobile div span, body.about #content div#marquee.desktop div span {
  -moz-animation: marquee 15s linear infinite backwards;
  -webkit-animation: marquee 15s linear infinite backwards;
  animation: marquee 15s linear infinite backwards;
}
body.about #content div#marquee.mobile div ul, body.about #content div#marquee.desktop div ul {
  width: 100%;
}
body.about #content > div h2 + * .desktop {
  display: none;
}
@media (max-width: 1023px) {
  body.about #content div#services ul {
    display: block;
  }
}
@media (min-width: 1024px) {
  body.about #content div:not(:first-of-type) p {
    display: inline;
  }
  body.about #content > div:not(:last-of-type) h2 + *.hide {
    display: flex;
  }
  body.about #content > div h2 + * .desktop {
    display: inline;
  }
}
@-moz-keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.hide {
  display: none;
}

.selected > * {
  font-family: "Romie Italic";
  font-style: italic;
}

.alternate {
  font-feature-settings: "ss01";
}

.hide-overflow {
  overflow: hidden;
}

/*# sourceMappingURL=stylesheet.css.map */
