body.about {

    padding-bottom: unset;
    margin-bottom: $margin / 4; 
    @media (min-width: 1024px) {
        margin-bottom: $margin / 2; 
    }
    .full-content {
        margin-bottom: $margin / 4;
        @media (min-width: 1024px) {
            margin-bottom: $margin / 2; 
        }
    }
    @media (min-width: 1024px) and (min-height: 800px) {
        &:not(.full-content) {
            margin-bottom: unset;
        }
    }

    @media (min-width: 1024px) {
        .flex {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            &:last-of-type div {
                display: block;
            }
        }
    }

    header#menu {
        nav > ul li#list-menu > #pages div > li:first-of-type {
            margin-bottom: $margin / 4;
            @media (min-width: 1024px) {
                margin-bottom: unset;
            }
        }
    }

    main {
        padding: 0 $margin / 2;
        margin-bottom: unset;
        @media (min-width: 1024px) {
            padding: 0 $margin;
        }
    }

    #images-container {
        div {
            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
                object-position: center;
            }
            &:last-of-type {
                display: none; 
            }
        }
        @media (min-width: 767px) {
            display: -webkit-flex;
            display: flex;
            div {
                flex-grow: 1;
                &:first-of-type {
                    margin-right: $margin / 4;
                }
                &:last-of-type {
                    display: block;
                    margin-left: $margin / 4; 
               }
            }
        }
        @media (min-width: 1024px) {
            div {
                &:first-of-type {
                    margin-right: $margin / 2;
                }
                &:last-of-type {
                    margin-left: $margin / 2; 
                }
            }
        }
    }

    #content {
        padding-top: 1rem;
        & > div:nth-of-type(2) h2 {
            margin-top: 1rem;
        }
        & > div:not(:first-of-type):not(:nth-of-type(2)) h2 {
            margin-top: $margin / 2;
        }
        h2 {
            font-size: 1.5rem;
            span.text-content {
                display: none;
            }
            button.mobile {
                color: black !important;
                &:hover, &:active, &:focus {
                    font-family: $alt-font;
                    font-style: italic;
                    color: black !important;
                }
            }
            @media (min-width: 1024px) {
                font-family: $alt-font;
                font-style: italic;
                margin-top: unset !important;
                button.mobile {
                    display: none;
                }
                span.text-content {
                    display: inline-block;
                }
            }
        }
        time {
            display: inline;
        }
        @media (min-width: 1024px) {
            #contact-content, #teaching-content, #services-content, div:not(#marquee):nth-of-type(6) div {
                width: 50%;
            }
        }
        ul.flex {
            justify-content: flex-start;
        }
        & > div:first-of-type p {
            margin: 0;
        }
        div:not(:first-of-type) p {
            margin: 0;
        }
        div.flex:nth-of-type(2) ul {
            &:not(.hide) {
                display: flex;
            }
            flex-direction: column;
            flex-wrap: wrap;
            li:nth-of-type(1) {
                order: 2;
            }
            li:nth-of-type(2) {
                order: 3;
            }
            li:nth-of-type(3) {
                order: 1;
            }
            @media (min-width: 1024px) {
                flex-direction: row;
                .desktop {
                    &:nth-of-type(1) {
                        order: 1;
                    }
                    &:nth-of-type(2) {
                        order: 2;
                    }
                }
                li:nth-of-type(1) {
                    order: 1;
                }
                li:nth-of-type(2) {
                    order: 2;
                }
                li:nth-of-type(3) {
                    order: 3;
                }
            }
        }
        div:nth-of-type(3) li:not(:last-of-type) {
            margin: 0 0 $margin / 2 0;
        }
        div:nth-of-type(4), div#marquee.mobile, div#marquee.desktop {
            ul {
                display: flex;
                flex-wrap: wrap;
            }
        }
        div#marquee.desktop li {
            @media (min-width: 1024px) {
                font-size: 1.25rem;
            }
        }

        #teaching {
            ul {
                flex-direction: column;
            }
            p {
                display: inline;
            }
            #last-item, button#plus {
                display: inline;
            }
            button#plus {
                display: none;
                margin-left: 2px;
                border: 1px solid $dark-grey;
                border-radius: 50%;
                font-weight: bold;
                line-height: 1;
                vertical-align: top;
                font-family: $alt-font;
                font-style: italic;
                &[aria-expanded="true"] {
                    padding: 2px 7px;     
                }
                &[aria-expanded="false"] {
                    padding: 2px 5px;                
                }
                @media (min-width: 1024px) {
                    display: inline;
                }
            }
            #hidden-list {
                margin-top: $margin / 2;
                @media (max-width: 1023px) {
                    &.hide {
                        display: unset;
                    }
                }
            }
        }

        @media (max-width: 1023px) {
            #marquee.mobile {
                margin: $margin 0;
                padding: $margin;
                &.stroke {
                    border-top: 1px solid $grey;
                    border-bottom: 1px solid $grey;
                }
            }      
            #marquee.desktop {
                display: none;
            }
        }


        @media (min-width: 1024px) {
            #marquee.mobile {
                display: none;
            }
            .stroke {
                border-bottom: 1px solid $grey;
            }
    
            .stroke:not(:first-of-type) {
                padding: $margin / 2 0;
            }
    
            .stroke:first-of-type {
                padding: 0 0 $margin 0;
            }
    
            .stroke:nth-last-child(2) {
                margin-bottom: $margin / 2;
            }
        }

        .center {
            align-items: center;
        }

        div#marquee.mobile, div#marquee.desktop { 
            overflow: hidden;
            div {
                width: 1800%;
                display: inline-flex;
                span {
                    -moz-animation: marquee 15s linear infinite backwards;
                    -webkit-animation: marquee 15s linear infinite backwards;
                    animation: marquee 15s linear infinite backwards;
                }
                ul {
                    width: 100%;
                }
            }
        }

        & > div h2 + * .desktop {
            display: none;
        }

        @media (max-width: 1023px) {
            div#services ul {
                display: block;
            }
        }

        @media (min-width: 1024px) {
            div:not(:first-of-type) p {
                display: inline;
            }
            & > div:not(:last-of-type) h2 + *.hide {
                display: flex;
            }
            & > div h2 + * .desktop {
                display: inline;
            }
        }
    }

    @-moz-keyframes marquee {
        0% {
          transform: translateX(0%);
        }
        100% {
          transform: translateX(-100%);
        }
      }
      @-webkit-keyframes marquee {
        0% {
          transform: translateX(0%);
        }
        100% {
          transform: translateX(-100%);
        }
      }
      @keyframes marquee {
        0% {
          -moz-transform: translateX(0%);
          -webkit-transform: translateX(0%);
          transform: translateX(0%)
        }
        100% {
          -moz-transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
        }
      }

}