html {
    min-height: -webkit-fill-available;
}

body {
    width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow-x: hidden;
}

body {
    position: relative;
    @media (min-width: 1024px) {
        padding-bottom: $margin;
    }
    main a {
        position: relative;
        color: $color;
        box-decoration-break: clone;
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            right: 0;
            bottom: 0;
            background: $grey;
            height: 1px;
        }
        &:hover, &:focus, &:active {
            &::before {
                animation-name: underline;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
        }
    }
}

@keyframes underline {
  from {
      right: 100%;
  }
  to {
      right: 0;
  }
}

// menu

header#menu {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: $margin $margin / 2;
    background-color: white;
    border-bottom: 1px solid $grey;
    
    &.expanded {
        position: fixed;
    }

    @media (min-width: 1024px) {
        padding: $margin;
        background-color: none;
    }

    nav > ul {
        display: flex;
        align-items: flex-start;
    }
    nav > ul {
        justify-content: space-between;
        flex-wrap: wrap;
        a {
            font-size: 1rem;
            &.page {
                font-size: 2rem;
            }
            @media (min-width: 1024px) {
                font-size: 1rem;
                &.page {
                    font-size: 0.9rem;
                }
            }
        }
        @media (min-width: 1024px) {
            li.mobile, .breaker {
                display: none;
            }
        }
        & > li:first-of-type {
            padding: 0 calc(1rem + #{$margin}) 0 0;
            white-space: nowrap;

            a {
                font-size: 0.9rem;
            }

            span:not(.alternate) {
                display: inline-block;
            }
            span:not(.alternate):last-of-type {
                font-family: $alt-font;
                font-style: italic;
            }
            @media (min-width: 1024px) {
                width: 50%;
            }
        }
        li#list-menu {
            position: fixed;
            top: 45px;
            left: 0;
            width: 100%;
            height: 100vh;
            overflow: hidden;
            padding: 1rem 0 1.25rem 0;
            background-color: $alt-color;
            // border-bottom: 1px solid $grey;
            @media (min-width: 1024px) {
                position: unset;
                top: unset;
                left: unset;
                width: 50%;
                height: unset;
                margin: unset;
                // padding: unset;
                padding: 1px 0;
                justify-content: flex-end;
                border-bottom: unset;
                &.hide {
                    display: flex;
                }
            }
            & > ul {
                a:hover, a:active, a:focus {
                    font-family: $alt-font;
                    font-style: italic;
                    .tooltip {
                        font-weight: normal;
                    }
                }
            }
            & > #pages {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-left: calc(2rem + #{$margin / 2});
                @media (min-width: 1024px) {
                    flex-direction: row;
                    justify-content: space-between;
                    margin-left: unset;
                }
                & > li:first-of-type {
                    margin-bottom: $margin;
                    @media (min-width: 1024px) {
                        margin-bottom: unset;
                    }
                }
                div > li:first-of-type {
                    margin-bottom: $margin + ($margin / 2);
                    @media (min-width: 1024px) {
                        margin-bottom: unset;
                    }
                }
                div:not(.breaker) {
                    @media (min-width: 1024px) {
                        display: flex;
                    }
                    li:last-of-type {
                        margin-bottom: $margin / 2;
                        @media (min-width: 1024px) {
                            margin: 0 0 0 $margin;
                        }
                        a {
                            border-radius: 50%;
                            border: 1px solid $dark-grey;
                            @media (min-width: 1024px) {
                                font-size: 0.8rem;
                                vertical-align: text-bottom;
                            }
                            &.en {
                                padding: 3px 4px;
                                &:hover, &:active, &:focus {
                                    padding: 5px 4px;
                                }
                            }
                            &.fr {
                                padding: 3px 6px;
                                &:hover, &:active, &:focus {
                                    padding: 5px;
                                }
                            }
                        }
                    }
                }
            }
            .breaker {
                margin-top: 1.75rem;
                border-bottom: 1px solid $grey;
                width: 2rem;
                &:not(:last-of-type) {
                    margin-bottom: 0.75rem;
                }
            }
        }
    }
}

// @-moz-document url-prefix() {
//     header#menu nav > ul a {
//         font-size: 1rem;
//     }
// }


button#mobile {
    position: fixed;
    z-index:1000;
    top: $margin;
    right: 0;
    margin-right: $margin / 2;
    display: block;
    @media (min-width: 1024px) {
        display: none;
    }
    img {
        height: 0.75rem;
    }
}

li#list-menu.mobile {
    position: absolute;
    z-index: 999;
    top: calc(3em + #{$margin});
    left: 0;
    width: 100%;
    display: block;
    overflow-x: hidden;
    @media (min-width: 1024px) {
        display: none;
    }
    & > #menu-container {
        margin: $margin;
        & > ul {
            a:not(.lang) {
                font-size: 12vw;
            }
        }
        & > #lang {
            li {
                &:not(:last-of-type) {
                    display: inline-block;
                    a {
                        font-family: $font;
                        font-size: 8.5vw;
                    }
                }
                &:first-of-type{
                    margin-right: 1rem;
                }
            }
        }
    }
}

// main
main {
    width: 100%;
    margin-bottom: $margin;
    padding: $margin $margin 0 $margin;
    position: relative;
    @media (min-width: 1024px) {
        position: static;
        margin-bottom: $margin * 2;
    }
}

// error page
div.error {
    position: absolute;
    width: 100%;
    height: calc(100vh - 69px);
    top: 0;
    left: 0;
    padding: $margin;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media (min-width: 1024px) {
        height: 100%;
    }
}

// img, video {
//     -webkit-touch-callout: none;
//     -webkit-user-drag: none;
//     user-drag: none;
//     -webkit-user-select: none;
//     -khtml-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
// }
