body.home {
    background-image: none;
    padding-bottom: 0;
    // overflow: hidden;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    header#menu {
        nav > ul li#list-menu > #pages > li:first-of-type {
            margin-bottom: $margin / 2;
            @media (min-width: 1024px) {
                margin-bottom: unset;
            }
        }
    }


    main {
        flex: 1;
        overflow-x: auto;
        overflow-y: hidden;
        height: 100%;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        @media (min-width: 1024px) {
            position: unset;
        }
    }
    #img-container {
        display: flex;
        height: 100%;
        font-size: 0;
        z-index: 1;
        @media (min-width: 1024px) {
        }
        a {
            height: 100%;
            display: inline-block;
            border-radius: 0;
            box-shadow: none;
            background: none;
            background-color: $color;
            &:not(:last-of-type) {
                border-right: 1px solid $color;
            }
        }
        img, video {
            height: 100%;
        }
    }
}
