.project {

    padding-bottom: unset;

    header#menu {
        position: relative;
        @media (max-width: 1023px) {
            padding: $margin / 2;
            padding: $margin $margin / 2;
            nav {
                display: flex;
            }
            button#mobile {
                position: relative;
                left: calc(100% - 23px);
                top: 0;
            }
            ul {
                margin-left: -28px;             
            }
            nav > ul li#list-menu > #pages > li:first-of-type {
                margin-bottom: 0;
            }
        }
    }

    main {
        padding: unset;
        margin: unset;
    }

    #container {
        padding: 0 $margin / 4;
        @media (min-width: 1024px) {
            padding: 0 $margin / 2;
        }      
    }

    h2 {
        font-family: $alt-font;
        font-style: italic;
        font-size: 2rem;
        margin: 1rem 0 1rem 0;
    }
    
    #title {
        padding-right: $margin / 4;
        @media (min-width: 1024px) {
            padding: 0 $margin / 2;
        }
    }

    #title, #text {
        margin-left: $margin / 2;
        @media (min-width: 1024px) {
            margin-left: $margin;
        }
    }
    
    @media (min-width: 1024px) {
        h2 {
            margin: 2rem 0 1rem 0;
        }
        #title, #text {
            margin-left: calc(2rem + (#{$margin} / 2));
            @media (min-width: 1024px) {
                margin-left: calc(2rem + (#{$margin} / 2));
            }
        }
        #text {
            width: 50%;
            padding-right: calc(2rem + #{$margin});
            @media (min-width: 1024px) {
                padding-right: calc(2rem + #{$margin});
            }
        }
    }

    @media (max-width: 1023px) {
        #preview {
            .medias div:nth-of-type(2) {
                display: none;
            }
        }
    }

    #credits {
        font-family: $third-font;
        font-size: 0.7rem;
        a::before {
            bottom: 0.4em;
        }
    }

    #content .medias {
        margin-top: 1rem;
        div:not(:last-of-type) {
            margin: 0 $margin / 4 $margin / 2 $margin / 4;
            @media (min-width: 1024px) {
                margin: 0 $margin / 2 $margin $margin / 2;
            }
        }
        div:last-of-type {
            margin: 0 $margin / 4;
            @media (min-width: 1024px) {
                margin: 0 $margin / 2;
            }
        }
        @media (min-width: 1024px) {
            margin-top: 2rem;
            div:not(:last-of-type):not(:nth-last-child(2)) {
                margin: 0 $margin / 2 $margin $margin / 2;
            }
            div:last-of-type, div:nth-last-child(2):not(.custom) {
                margin: 0 $margin / 2 -3px $margin / 2;
            }
            div:nth-last-child(2).custom {
                margin: 0 $margin / 2 $margin $margin / 2;
            }
        }
    }

    #preview .medias div {
        margin: 0 $margin / 4;
        @media (min-width: 1024px) {
            margin: 0 $margin / 2;
        }
    }

    .medias {
        & > div.custom {
            grid-column: 1 / 3;
            margin: 0 $margin / 2 0 0;
            @media (min-width: 1024px) {
                margin: 0 $margin / 2 0 0;
            }
        }
        @media (min-width: 1024px) {
            display: grid;
            grid-template-columns: 50% 50%;
            margin-bottom: unset;
        }
    }

    img, video {
        width: 100%;
        display: block;
    }
    
    video {
        cursor: pointer;
        background-color: $color;
    }

    footer {
        position: sticky;
        @media (min-width: 1024px) {
            bottom: 0;
        }
        @media (max-width: 1023px) {
            &:not(.video-page) {
                bottom: 0;
            }
            &.video-page {
                top: 100%;
            }
        }
        background-color: $alt-color;
        padding: $margin $margin / 2;
        height: 45px;
        @media (min-width: 1024px) {
            height: 47px;
            padding: $margin;
        }
        border-top: 1px solid $grey;
        nav {
            display: flex;
            width: 100%;
            height: 100%;
        }
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            li:first-of-type {
                a {
                    width: 52px;
                }
            }
            li:nth-of-type(2) {
                order: 3;
                a {
                    width: 32px;
                }
            }
            li:last-of-type {
                order: 2;
                a {
                    width: 48px;
                }
            }
            a {
                display: block;
                font-size: 0.9rem;
                &::before {
                    content: unset;
                }
                &:hover, &:active, &:focus {
                    font-family: $alt-font;
                    font-style: italic;
                }
            }
        }
    }

    // preview + title full screen
    @media (min-width: 1024px) and (min-height: 667px) {
        #preview .medias {
            height: 87vh;
            div {
                display: flex;
                img {
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
    @media (min-width: 1024px) and (min-height: 667px) and (max-height: 1450px) {
        #preview .medias {
            height: 86vh;
        }
    }
    @media (min-width: 1024px) and (min-height: 667px) and (max-height: 1325px) {
        #preview .medias {
            height: 85vh;
        }
    }
    @media (min-width: 1024px) and (min-height: 667px) and (max-height: 1250px) {
        #preview .medias {
            height: 84vh;
        }
    }
        @media (min-width: 1024px) and (min-height: 667px) and (max-height: 1150px) {
        #preview .medias {
            height: 83vh;
        }
    }
    @media (min-width: 1024px) and (min-height: 667px) and (max-height: 1100px) {
        #preview .medias {
            height: 82vh;
        }
    }
    @media (min-width: 1024px) and (min-height: 667px) and (max-height: 999px) {
        #preview .medias {
            height: 80vh;
        }
    }
    @media (min-width: 1024px) and (min-height: 667px) and (max-height: 949px) {
        #preview .medias {
            height: 79vh;
        }
    }
    @media (min-width: 1024px) and (min-height: 667px) and (max-height: 899px) {
        #preview .medias {
            height: 78vh;
        }
    }
    @media (min-width: 1024px) and (min-height: 667px) and (max-height: 849px) {
        #preview .medias {
            height: 77vh;
        }
    }
    @media (min-width: 1024px) and (min-height: 667px) and (max-height: 799px) {
        #preview .medias {
            height: 76vh;
        }
    }
    @media (min-width: 1024px) and (min-height: 667px) and (max-height: 774px) {
        #preview .medias {
            height: 74vh;
        }
    }
    @media (min-width: 1024px) and (min-height: 667px) and (max-height: 724px) {
        #preview .medias {
            height: 73vh;
        }
    }
    @media (min-width: 1024px) and (min-height: 667px) and (max-height: 699px) {
        #preview .medias {
            height: 72vh;
        }
    }
    
}