body.work {
    
    padding-bottom: 0;
    position: static;

    header#menu {
        nav > ul li#list-menu > #pages > li:first-of-type {
            margin-bottom: 0;
        }
    }
    
    button#mobile {
        position: absolute;
    }
    
    main {
        padding: 0 $margin / 4;
        margin-bottom: unset;
        @media (min-width: 1024px) {
            padding: 0 $margin / 2;
            height: 100%;
        }
    }

    main #container {
        ul {
            display: grid;
            grid-template-columns: 100%;
            font-family: $font;
            li:not(:last-of-type) {
                margin: 0 $margin / 4 $margin / 2 $margin / 4;
            }
            li:last-of-type {
                margin: 0 $margin / 4;
            }
            // large or landscape device
            @media (orientation: landscape), (min-width: 667px) and (max-width: 1023px) and (min-height: 667px) {
                grid-template-columns: 50% 50%;
            }
            // mobile landscape -> tablet portrait
            @media (min-width: 667px) and (max-width: 1023px) {
                li:not(:last-of-type):not(:nth-last-child(2)) {
                    margin: 0 $margin / 4 $margin / 2 $margin / 4;
                }
                li:nth-last-child(2), li:last-of-type {
                    margin: 0 $margin / 4;
                }
            }
            @media (min-width: 1024px) {
                li:not(:last-of-type):not(:nth-last-child(2)) {
                    margin: 0 $margin / 2 $margin $margin / 2;
                }
                li:nth-last-child(2), li:last-of-type {
                    margin: 0 $margin / 2;
                }
            }
            h2 {
                height: 100%;
            }
            a, .video-container {
                display: flex;
                /* if img/video = object-fit: cover */
                height: 100%;
            }
            a {
                border-radius: unset;
                &::before {
                    content: unset;
                } 
                &:hover, &:active, &:focus {
                    &::before {
                        content: unset;
                    }
                    img.absolute {
                        opacity: 0;
                    }  
                }
            }
            img, video {
                width: 100%;
                height: 100%;
            }
            /* if img/video = object-fit: cover */
            img, video {
                object-fit: cover;
                object-position: center;
            }
            img {
                &.absolute {
                    position: absolute;
                    transition: opacity 0.5s ease-in-out;
                }
            }
            video {
                cursor: pointer;
                background-color: $color;
            }
        }
    }
    

}
