@import 'base/vars';
@import 'base/fonts';
@import 'base/reset';

// gallery button accessibility

@mixin visually-hidden() {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@mixin show-visually-hidden() {
  position: initial !important;
  width: auto !important;
  height: auto !important;
  margin: 0 !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
  overflow: initial !important;
  clip: none !important;
}

@mixin visually-hidden-focusable() {
  &:not(:focus):not(:focus-within) {
    @include visually-hidden();
  }
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  @include visually-hidden();
}

@import 'default';
@import 'home';
@import 'work';
@import 'project';
@import 'about';


// global
.hide {
    display: none;
}

.selected > * {
    font-family: $alt-font;
    font-style: italic;
}

.alternate {
    font-feature-settings: "ss01";
}

.hide-overflow {
  overflow: hidden;
}