@font-face {
    font-family: 'Ostia Antica';
    src: url('../fonts/ostia-antica-light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Romie Regular';
    src: url('../fonts/romie-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
    
@font-face {
    font-family: 'Romie Italic';
    src: url('../fonts/romie-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
