$font: 'Romie Regular';
$alt-font: 'Romie Italic';
$third-font: 'Ostia Antica';
$margin: 10px;
$color: black;
$alt-color: white;
// $grey: #A9A9A9;
$grey: #C0C0C0;
$dark-grey: #A9A9A9;
// $dark-grey: #C0C0C0;
