{% extends 'default.html.twig' %}
{% set color = page.header.currentColor %}

{% block content %}

<div id="images-container">
{% for img in page.media.images %}
    <div>
        {{ img.html('', '', '') }}
    </div>
{% endfor %}
</div>

<div id="content">
    <div class="stroke">
        {{ page.content }}
    </div>
    <div class="stroke flex center">
        <h2><span class="text-content">Co<span class="alternate">n</span>tac<span class="alternate">t</span></span><button type="button" class="mobile" aria-expanded="false" aria-controls="contact-content">Co<span class="alternate">n</span>tac<span class="alternate">t</span></button></h2>
        <ul id="contact-content" class="flex hide">
            {% for item in page.header.social_medias %}
                <li>
                    <a href="{{ item.url }}">{{ item.text }}</a>
                </li><span aria-hidden="true" class="desktop">&nbsp;|&nbsp;</span>
            {% endfor %}
            <li>{{ page.header.email }}</li>
        </ul>
    </div>
    <div id="teaching" class="stroke flex">
        <h2><span class="text-content">{% if grav.language.active == 'en' %}<span class="alternate">T</span>each<span class="alternate">i</span>n<span class="alternate">g</span>{% else %}<span class="alternate">E</span>nse<span class="alternate">i</span>gnemen<span class="alternate">t</span>{% endif %}</span><button type="button" class="mobile" aria-expanded="false" aria-controls="teaching-content">{% if grav.language.active == 'en' %}<span class="alternate">T</span>each<span class="alternate">i</span>n<span class="alternate">g</span>{% else %}<span class="alternate">E</span>nse<span class="alternate">i</span>gnemen<span class="alternate">t</span>{% endif %}</button></h2>
        <ul id="teaching-content" class="hide">
            {% for item in page.header.teaching %}
                <li {% if loop.index == 2 %}id="last-item"{% elseif loop.index > 2 %}class="hidden-item"{% endif %}>
                    <time>{{ item.date|date('Y')|raw }}</time><span aria-hidden="true"> |</span> {{ item.text|markdown }}
                    {% if loop.index == 2 %}<button id="plus" type="button" aria-expanded="false" aria-controls="hidden-list">+</button>{% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="services" class="stroke flex center">
        <h2><span class="text-content">Ser<span class="alternate">v</span><span class="alternate">i</span>ce<span class="alternate">s</span></span><button type="button" class="mobile" aria-expanded="false" aria-controls="services-content">Ser<span class="alternate">v</span><span class="alternate">i</span>ce<span class="alternate">s</span></button></h2>
        <div id="services-content" class="hide">
            <span>{{ page.header.services|markdown }}</span>
            <div id="marquee" class="stroke mobile">
                <div id="marquee-content" class="hide">
                    <span>{{ page.header.clients|markdown }}</span>
                    <span aria-hidden="true">{{ page.header.clients|markdown }}</span>
                </div>
            </div>
        </div>
    </div>
    <div id="marquee" class="stroke desktop">
        <div id="marquee-content" class="hide">
            <span>{{ page.header.clients|markdown }}</span>
            <span aria-hidden="true">{{ page.header.clients|markdown }}</span>
        </div>
    </div>
    <div class="flex">
        <h2><span class="text-content">Cr{% if grav.language.active == 'en' %}e{% else %}é{% endif %}d<span class="alternate">i</span>t<span class="alternate">s</span></span><button type="button" class="mobile" aria-expanded="false" aria-controls="credits-content">Cr{% if grav.language.active == 'en' %}e{% else %}é{% endif %}d<span class="alternate">i</span>t<span class="alternate">s</span></button></h2>
        <div id="credits-content" class="hide">{{ page.header.credits|markdown }}</div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/about.js') %}
{% endblock %}
