{% extends 'partials/base.html.twig' %}

{% block page %}

<header id="menu" role="banner">
    <nav>
        <button id="mobile" aria-controls="list-menu" aria-expanded="false"><img src="{{ url('theme://images/menu.svg') }}" aria-hidden="true" /><span class="visually-hidden">Menu</span></button>
        <ul>
            <li><a href="{{ page.find('/home').url }}" title="Marion Caron | Design graphique : Accueil">Marion Caron <span>|&nbsp;</span><span><span class="alternate">{% if grav.language.active == 'en' %}G</span>raphic designe<span class="alternate">r</span>{% else %}D</span>esigner graphiqu<span class="alternate">e</span>{% endif %}</span></a></li>
            <li id="list-menu" class="hide">
                <ul id="pages">
                    {% for p in pages.children.visible %}
                        {% if p.slug != 'home' %}
                            {% if loop.last %}
                            <div>
                            {% endif %}
                                <li {% if p.active or p.activeChild %}class="selected"{% endif %}><a class="page" href="{{ p.url }}">{% if p.header.alternate %}{{ p.header.alternate }}{% else %}{{ p.title }}{% endif %}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% set alt_locale = grav.language.getActive ? 'fr' : 'en' %}
                    {% if page.slug == 'home' %}
                        <li><a class="{{ grav.language.active == 'en' ? 'fr' : 'en' }}" lang="{{ grav.language.active == 'en' ? 'fr' : 'en' }}" href="{{ '/' ~ alt_locale }}">{{ grav.language.active == 'en' ? 'fr'|capitalize : 'en'|capitalize }}<span class="visually-hidden">{{ grav.language.active == 'en' ? 'ançais' : 'glish' }}</span></a></li>
                    {% else %}
                        <li><a class="{{ grav.language.active == 'en' ? 'fr' : 'en' }}" lang="{{ grav.language.active == 'en' ? 'fr' : 'en' }}" href="{{ alt_locale == 'fr' ? page.url[3:] : '/' ~  alt_locale ~ page.url }}">{{ grav.language.active == 'en' ? 'fr'|capitalize : 'en'|capitalize }}<span class="visually-hidden">{{ grav.language.active == 'en' ? 'ançais' : 'glish' }}</span></a></li>
                    {% endif %}
                    </div>
                    <div class="breaker"></div>
                    <li class="mobile">{{ page.find('/about').header.email }}</li>
                    <li class="mobile"><a href="https://www.instagram.com/marion___caron/?hl=fr">Instagram</a></li>
                    <li class="mobile"><a href="https://fr.linkedin.com/in/marion-caron-951b326b">LinkedIn</a></li>
                    <div class="breaker"></div>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<main role="main">
    <h1 class="visually-hidden">{{ page.title }}</h1>
    {% block content %}
    {% endblock %}
</main>

{% set projects = [] %}
{% for child in page.parent.children %}
    {% set projects = projects|merge([child.slug]) %}
{% endfor %}

{% if page.header.body_classes == 'project' %}
<footer role="contentinfo" {% if page.media.all|length <= 2 and page.media.videos|length == 1 %}class="video-page"{% endif %}>
    <nav>
        <ul>
            {% for project in projects %}
                {% if page.slug == project %}
                    {% if loop.index == loop.first %}
                        {% set prev = projects[loop.index] %}
                        {% set nextValue = projects|length %}
                        {% set next = projects[nextValue - 1] %}
                    {% elseif loop.index == loop.last %}
                        {% set prev = projects[0] %}
                        {% set next = projects[loop.index - 2] %}
                    {% else %}
                        {% set prev = projects[loop.index] %}
                        {% set next = projects[loop.index - 2] %}
                    {% endif %}
                    <li><a href="{{ url('/work/' ~ prev) }}"><span class="alternate">P</span>{% if grav.language.active == 'en' %}re<span class="alternate">v</span>{% else %}ré<span class="alternate">c</span>{% endif %}.</a></li>
                    <li><a href="{{ url('/work/' ~ next) }}">{% if grav.language.active == 'en' %}<span class="alternate">N</span>ex<span class="alternate">t</span>{% else %}Sui<span class="alternate">v</span>{% endif %}.</a></li>
                    <li><a href="{{ url('/work') }}">{{ page.parent.header.alternate }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</footer>
{% endif %}

{% endblock %}
