{% extends 'default.html.twig' %}

{% block content %}
<div class="error">
    <h2>{{ 'PLUGIN_ERROR.ERROR'|t }} {{ header.http_response_code }}.</h2>
    <p style="margin: 0;">{{ 'PLUGIN_ERROR.ERROR_MESSAGE'|t }}</p>
</div>
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% endblock %}
