{% extends 'default.html.twig' %}
{% set color = page.header.currentColor %}

{% block content %}
<div id="img-container">
    {% for item in page.header.media_order|split(',') %}
        {{ page.media[item].html() }}
    {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/home.js') %}
{% endblock %}
