{% extends 'default.html.twig' %}

{% block content %}

    {% set mediasList = page.header.media_order|split(',') %}
    {% set images = [] %}
    {% set videos = [] %}
    {% if page.header.video_poster %}
    {% set index = 0 %}
        {% for video in page.header.video_poster %}
            {% set videos = videos|merge([video.pic]) %}
        {% endfor %}
    {% endif %}
    {% for filename in mediasList %}
        {% if page.header.video_poster %}
            {% if filename not in videos %}
                {% set images = images|merge([filename]) %}
            {% endif %}
        {% else %}
            {% set images = images|merge([filename]) %}
        {% endif %}
    {% endfor %}

    <div id="container">

        {# preview + title full screen, remove div below to get back to initial layout #}
        <div id="screen-height">

            <div id="preview">
                {% for medias in [images] %}
                    <div class="medias">
                        {% for filename in medias %}
                            {% if loop.index < 3 %}
                                {% set image = page.media[filename] %}
                                <div>
                                    {% if image.type == 'image' %}
                                        {% if image.height >= image.width %}
                                            {{ image.html('', '', 'portrait') }}
                                        {% else %}
                                            {{ image.html() }}
                                        {% endif %}
                                    {% elseif image.type == 'video' %}
                                        <video controls preload="auto" {% if page.header.video_poster %}poster="{{ url('user/pages/' ~ page.parent.folder ~ '/' ~ page.folder ~ '/' ~ page.header.video_poster[index].pic) }}"{% endif %}><source src="{{ image.url }}">Your browser does not support the video tag.</video>
                                        {% if page.header.video_poster %}
                                            {% if index <= page.header.video_poster|length -1 %}
                                                {% set index = index + 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <div id="title">
                <h2 aria-hidden="true">{% if page.header.alternate %}{{ page.header.alternate }}{% else %}{{ page.title }}{% endif %}</h2>
            </div>

        </div>

        <div id="content">

            <div id="text">
                <div id="main-text">
                    {% if page.content %}
                        {{ page.content }}
                    {% endif %}
                </div>
                <div id="credits">
                    {% if page.header.credits %}
                        {{ page.header.credits|markdown }}
                        {# <time datetime="{{ page.date|date('c') }}" class="desktop">{{ page.date|date('Y') }}</time> #}
                    {% endif %}
                </div>
            </div>

            {% for medias in [images] %}
                <div class="medias">
                    {% for filename in medias %}
                        {% if loop.index > 2 %}
                            {% set image = page.media[filename] %}
                            <div{% if 'montage' in image.basename %} class="custom"{% endif %}>
                                {% if image.type == 'image' %}
                                    {% if image.height >= image.width %}
                                        {{ image.html('', '', 'portrait') }}
                                    {% else %}
                                        {{ image.html('', '', '') }}
                                    {% endif %}
                                {% elseif image.type == 'video' %}
                                    <video controls preload="auto" {% if page.header.video_poster %}poster="{{ url('user/pages/' ~ page.parent.folder ~ '/' ~ page.folder ~ '/' ~ page.header.video_poster[index].pic) }}"{% endif %}><source src="{{ image.url }}">Your browser does not support the video tag.</video>
                                    {% if page.header.video_poster %}
                                        {% if index <= page.header.video_poster|length -1 %}
                                            {% set index = index + 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}

        </div>

    </div>

{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/video.js') %}
{% endblock %}
