{% extends 'default.html.twig' %}

{% block content %}

    <div id="container">
        <ul>
            {% for item in page.collection %}
            <li class="project-container" data-slug="{{ item.slug }}">
                {% if item.header.video_poster and item.header.pickedImage == item.header.video_poster[0].pic %}
                    {% set videosArray = [] %}
                    {% set index = 0 %}
                    {% for video in item.media.videos %}
                        {% set videosArray = videosArray|merge([video]) %}
                    {% endfor %}
                    <div class="video-container">
                        <h2 class="visually-hidden">{{ item.title }}</h2>
                        <video controls preload="auto" {% if item.header.video_poster %}poster="{{ url('user/pages/' ~ item.parent.folder ~ '/' ~ item.folder ~ '/' ~ item.header.video_poster[index].pic) }}"{% endif %}><source src="{{ url('user/pages/' ~ item.parent.folder ~ '/' ~ item.folder ~ '/' ~ videosArray[0].filename) }}">Your browser does not support the video tag.</video>
                    </div>
                    {% if item.header.video_poster %}
                        {% if index <= item.header.video_poster|length -1 %}
                            {% set index = index + 1 %}
                        {% endif %}
                    {% endif %}
                {% else %}
                    <h2><a href="{{ grav.language.active == 'en' ? '/en' ~ item.route : '' ~ item.route }}">
                    <span class="visually-hidden">{{ item.title }}</span>
                        {% set imgsArray = [] %}
                        {% if item.header.pickedImage %}
                            {% for img in item.media.images|filter(img => img.filename != item.header.pickedImage and img.filename != item.header.video_poster[0].pic and img.width > img.height) -%}
                                {% set imgsArray = imgsArray|merge([img.filename]) %}
                            {% endfor %}
                            <img alt="" src="{{ url('user/pages/' ~ item.parent.folder ~ '/' ~ item.folder ~ '/' ~ random(imgsArray)) }}" aria-hidden="true" />
                            <img alt="" src="{{ url('user/pages/' ~ item.parent.folder ~ '/' ~ item.folder ~ '/' ~ item.header.pickedImage) }}" aria-hidden="true" class="absolute" />
                        {% else %}
                            {% for img in item.media.images|filter(img => img.filename != item.media.images|first.filename and img.filename != item.header.video_poster[0].pic and img.width > img.height) -%}
                            {% set imgsArray = imgsArray|merge([img.filename]) %}
                            {% endfor %}
                            <img alt="" src="{{ url('user/pages/' ~ item.parent.folder ~ '/' ~ item.folder ~ '/' ~ random(imgsArray)) }}" aria-hidden="true" />
                            <img alt="" src="{{ url('user/pages/' ~ item.parent.folder ~ '/' ~ item.folder ~ '/' ~ item.media.images|first.filename) }}" aria-hidden="true" class="absolute" />
                        {% endif %}
                            <div class="hide" data-filenames="{{ imgsArray|join(', ') }}"></div>
                    </a></h2>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/video.js') %}
{% do assets.addJs('theme://js/work.js') %}
{% endblock %}
